In [1]:
### IMPORT LIBRARIES ###
import pandas as pd

## import the dataset

In [2]:
data = pd.read_csv('../dataset/SeoulBikeData.csv', encoding='Windows-1252')
data.head()

,Date,Rented Bike Count,Hour,Temperature(°C),Humidity(%),Wind speed (m/s),Visibility (10m),Dew point temperature(°C),Solar Radiation (MJ/m2),Rainfall(mm),Snowfall (cm),Seasons,Holiday,Functioning Day
0,01/12/2017,254,0,-5.2,37,2.2,2000,-17.6,0.0,0.0,0.0,Winter,No Holiday,Yes
1,01/12/2017,204,1,-5.5,38,0.8,2000,-17.6,0.0,0.0,0.0,Winter,No Holiday,Yes
2,01/12/2017,173,2,-6.0,39,1.0,2000,-17.7,0.0,0.0,0.0,Winter,No Holiday,Yes
3,01/12/2017,107,3,-6.2,40,0.9,2000,-17.6,0.0,0.0,0.0,Winter,No Holiday,Yes
4,01/12/2017,78,4,-6.0,36,2.3,2000,-18.6,0.0,0.0,0.0,Winter,No Holiday,Yes

## drop two columns "Functioning Day" and "Dew point temperature°C"

In [3]:
data = data.drop(columns=['Functioning Day', 'Dew point temperature(°C)'])
data.head()

,Date,Rented Bike Count,Hour,Temperature(°C),Humidity(%),Wind speed (m/s),Visibility (10m),Solar Radiation (MJ/m2),Rainfall(mm),Snowfall (cm),Seasons,Holiday
0,01/12/2017,254,0,-5.2,37,2.2,2000,0.0,0.0,0.0,Winter,No Holiday
1,01/12/2017,204,1,-5.5,38,0.8,2000,0.0,0.0,0.0,Winter,No Holiday
2,01/12/2017,173,2,-6.0,39,1.0,2000,0.0,0.0,0.0,Winter,No Holiday
3,01/12/2017,107,3,-6.2,40,0.9,2000,0.0,0.0,0.0,Winter,No Holiday
4,01/12/2017,78,4,-6.0,36,2.3,2000,0.0,0.0,0.0,Winter,No Holiday

## converting the 'Date' column to 'datetime'

In [4]:
data['Date'] = pd.to_datetime(data['Date'], dayfirst=True)
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8760 entries, 0 to 8759
Data columns (total 12 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Date                     8760 non-null   datetime64[ns]
 1   Rented Bike Count        8760 non-null   int64
 2   Hour                     8760 non-null   int64
 3   Temperature(°C)          8760 non-null   float64
 4   Humidity(%)              8760 non-null   int64
 5   Wind speed (m/s)         8760 non-null   float64
 6   Visibility (10m)         8760 non-null   int64
 7   Solar Radiation (MJ/m2)  8760 non-null   float64
 8   Rainfall(mm)             8760 non-null   float64
 9   Snowfall (cm)            8760 non-null   float64
 10  Seasons                  8760 non-null   object
 11  Holiday                  8760 non-null   object
dtypes: datetime64[ns](1), float64(5), int64(4), object(2)
memory usage: 821.4+ KB

## feature engineering: Divide the date into 'weekday' and 'weekend'
## Also, we then drop the original 'Date' column

In [5]:
data['DayType'] = data['Date'].dt.dayofweek.apply(lambda x: 'Weekend' if x >= 5 else 'Weekday')
data.drop(columns=['Date'], inplace=True)
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8760 entries, 0 to 8759
Data columns (total 12 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Rented Bike Count        8760 non-null   int64
 1   Hour                     8760 non-null   int64
 2   Temperature(°C)          8760 non-null   float64
 3   Humidity(%)              8760 non-null   int64
 4   Wind speed (m/s)         8760 non-null   float64
 5   Visibility (10m)         8760 non-null   int64
 6   Solar Radiation (MJ/m2)  8760 non-null   float64
 7   Rainfall(mm)             8760 non-null   float64
 8   Snowfall (cm)            8760 non-null   float64
 9   Seasons                  8760 non-null   object
 10  Holiday                  8760 non-null   object
 11  DayType                  8760 non-null   object
dtypes: float64(5), int64(4), object(3)
memory usage: 821.4+ KB

## Convert non-numerical columns to dtype category

In [6]:
categorical_features = [
    "Seasons",
    "Holiday",
    "DayType"
]

data[categorical_features] = data[categorical_features].astype("category")
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8760 entries, 0 to 8759
Data columns (total 12 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Rented Bike Count        8760 non-null   int64
 1   Hour                     8760 non-null   int64
 2   Temperature(°C)          8760 non-null   float64
 3   Humidity(%)              8760 non-null   int64
 4   Wind speed (m/s)         8760 non-null   float64
 5   Visibility (10m)         8760 non-null   int64
 6   Solar Radiation (MJ/m2)  8760 non-null   float64
 7   Rainfall(mm)             8760 non-null   float64
 8   Snowfall (cm)            8760 non-null   float64
 9   Seasons                  8760 non-null   category
 10  Holiday                  8760 non-null   category
 11  DayType                  8760 non-null   category
dtypes: category(3), float64(5), int64(4)
memory usage: 642.2 KB

## Export the dataset

In [7]:
data.to_pickle("/Users/secret/Desktop/Seoul_bike/MLRegression_SeoulBikeRental/phase_three/processed_data_timo.pkl")